In [145]:
import pandas as pd

In [146]:
df = pd.read_json('result.jsonl', orient='values', lines = True)
df.head()

,url,name,height,position,current_club,club_caps,club_conceded,club_scored,national_caps,national_conceded,national_scored,national_team,birth
0,https://ru.wikipedia.org/wiki/%D0%A2%D1%80%D0%...,"[Трапп, Кевин]",189,вратарь,Айнтрахт (Франкфурт),506,632,0,9,13,0,Сборная Германии по футболу,647380800
1,https://ru.wikipedia.org/wiki/%D0%91%D0%BB%D0%...,"[Бласвих, Янис]",193,вратарь,РБ Лейпциг,338,412,0,0,0,0,Сборная Германии по футболу,673131600
2,https://ru.wikipedia.org/wiki/%D0%91%D0%B0%D1%...,"[Бауман, Оливер]",187,вратарь,Хоффенхайм,466,708,0,0,0,0,Сборная Германии по футболу,644270400
3,https://ru.wikipedia.org/wiki/%D0%A0%D1%8E%D0%...,"[Рюдигер, Антонио]",190,защитник,Реал Мадрид,428,0,21,66,0,3,Сборная Германии по футболу,731106000
4,"https://ru.wikipedia.org/wiki/%D0%A2%D0%B0,_%D...","[Та, Джонатан]",195,защитник,Байер 04,248,0,8,16,0,0,Сборная Германии по футболу,823986000

# Будем считать возраст на начало 2024 года (на 01.01.2024)

In [147]:
df['age'] = pd.to_datetime('now').year - pd.to_datetime(df['birth'], unit='s').dt.year - 1 
df.head()

,url,name,height,position,current_club,club_caps,club_conceded,club_scored,national_caps,national_conceded,national_scored,national_team,birth,age
0,https://ru.wikipedia.org/wiki/%D0%A2%D1%80%D0%...,"[Трапп, Кевин]",189,вратарь,Айнтрахт (Франкфурт),506,632,0,9,13,0,Сборная Германии по футболу,647380800,33
1,https://ru.wikipedia.org/wiki/%D0%91%D0%BB%D0%...,"[Бласвих, Янис]",193,вратарь,РБ Лейпциг,338,412,0,0,0,0,Сборная Германии по футболу,673131600,32
2,https://ru.wikipedia.org/wiki/%D0%91%D0%B0%D1%...,"[Бауман, Оливер]",187,вратарь,Хоффенхайм,466,708,0,0,0,0,Сборная Германии по футболу,644270400,33
3,https://ru.wikipedia.org/wiki/%D0%A0%D1%8E%D0%...,"[Рюдигер, Антонио]",190,защитник,Реал Мадрид,428,0,21,66,0,3,Сборная Германии по футболу,731106000,30
4,"https://ru.wikipedia.org/wiki/%D0%A2%D0%B0,_%D...","[Та, Джонатан]",195,защитник,Байер 04,248,0,8,16,0,0,Сборная Германии по футболу,823986000,27

In [148]:
top5 = df[df['age'] < 25][['name', 'club_caps']].sort_values('club_caps', ascending=False).head()
top5

                    name  club_caps
10         [Хаверц, Кай]        323
109       [Жуан, Феликс]        253
216  [Собослаи, Доминик]        244
131     [Торрес, Ферран]        240
345   [Моруцан, Олимпиу]        229

In [149]:
print(f'Имя игрока младше 25 лет, сыгравшего больше всего матчей за клубную карьеру - {top5.iloc[0][0][0]} {top5.iloc[0][0][1]}.')

Имя игрока младше 25 лет, сыгравшего больше всего матчей за клубную карьеру - Хаверц Кай.

In [150]:
top5 = df[df['age'] < 25][['name', 'club_scored']].sort_values('club_scored', ascending=False).head()
top5

                  name  club_scored
374  [Влахович, Душан]           90
299   [Мален, Дониелл]           86
10       [Хаверц, Кай]           84
87      [Опенда, Лоис]           83
301      [Гакпо, Коди]           73

In [151]:
print(f'Имя игрока младше 25 лет, забившего больше всего голов за клубную карьеру - {top5.iloc[0][0][0]} {top5.iloc[0][0][1]}.')

Имя игрока младше 25 лет, забившего больше всего голов за клубную карьеру - Влахович Душан.

# При поиске самого высокого игрока, забившего больше 10 голов, будем считать голы, забитые за национальную сборную.

In [152]:
top5 = df[df['national_scored'] > 10][['name', 'height']].sort_values('height', ascending=False).head()
top5

                  name  height
10       [Хаверц, Кай]     193
62      [Жиру, Оливье]     193
413    [Соучек, Томаш]     192
83    [Лукаку, Ромелу]     191
374  [Влахович, Душан]     190

In [153]:
print(f'Имя самого высокого игрока, забившего больше 10 голов - {top5.iloc[0][0][0]} {top5.iloc[0][0][1]}.')

Имя самого высокого игрока, забившего больше 10 голов - Хаверц Кай.

In [154]:
top5 = df[df['position'] == 'вратарь'].sort_values('birth', ascending=True).head()[['name', 'position', 'birth', 'age']]
top5

                   name position      birth  age
24     [Нойер, Мануэль]  вратарь  512254800   37
264  [Шмейхель, Каспер]  вратарь  531522000   37
327      [Ницэ, Флорин]  вратарь  552254400   36
90      [Патрисиу, Руй]  вратарь  571870800   35
304       [Зоммер, Янн]  вратарь  598309200   35

In [155]:
print(f'Имя самого старшего вратаря - {top5.iloc[0][0][0]} {top5.iloc[0][0][1]}.')

Имя самого старшего вратаря - Нойер Мануэль.

In [156]:
top5 = df[['name', 'national_caps']].sort_values('national_caps', ascending=False).head()
top5

                   name  national_caps
457      [Модрич, Лука]            172
62       [Жиру, Оливье]            129
63   [Гризманн, Антуан]            127
20      [Мюллер, Томас]            126
226    [Пекарик, Петер]            124

In [157]:
print(f'Имя игрока, сыгравшего больше всего матчей за сборную - {top5.iloc[0][0][0]} {top5.iloc[0][0][1]}.')

Имя игрока, сыгравшего больше всего матчей за сборную - Модрич Лука.

In [158]:
top5 = df[['name', 'national_scored']].sort_values('national_scored', ascending=False).head()
top5

                       name  national_scored
107    [Криштиану, Роналду]              128
83         [Лукаку, Ромелу]               83
373  [Митрович, Александар]               57
62           [Жиру, Оливье]               56
64         [Мбаппе, Килиан]               46

In [159]:
print(f'Имя игрока, забившего больше всего голов за сборную - {top5.iloc[0][0][0]} {top5.iloc[0][0][1]}.')

Имя игрока, забившего больше всего голов за сборную - Криштиану Роналду.